<link rel ="stylesheet" href = https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css>
<link rel ="stylesheet" href = "/stylesheets/form_styles.css">
<% console.log(bilete) %>
<% console.log(bilete.length) %>



<% if(typeof(id)!=="undefined"){%>
    <h1>user cu id: <%=id%></h1>
<%}else{%>
    <h1>nu e user</h1>
<%}%>

bilete.foreach



<div class="container">
    <h1>Hellso</h1>
    <img src="/images/bilete/sea.jpeg">
    <h3>dada</h3>
</div>
