<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOURISM</title>
    <link rel ="stylesheet" href = https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css>
    <link rel="stylesheet"  href="/stylesheets/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<header>
      
    <!-- <img src="/images/Poza.jpg" > -->
    <a href="#" class="button">TOURISM</a>

  
    <nav class="navbar">
        <a href="#"  class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav__links">
            <ul>
               <li>
                  <a href="#">
                     <div class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                     </div>
                     <div class="mame" data-text="Home">Home</div>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <div class="icon">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                     </div>
                     <div class="mame" data-text="About">About</div>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <div class="icon">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                     </div>
                     <div class="mame" data-text="Add">Add</div>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <div class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                     </div>
                     <div class="mame" data-text="Home">Account</div>
                  </a>
               </li>
               

        </ul>
        </div>
        &nbsp; &nbsp;
    </nav>
    &nbsp; &nbsp;
    <script src="/js/header.js"></script>
</header>
